.footer {
  font-family: inherit;
  line-height: 21.74px;
  font-size: 18px;
  max-width: 880px;
  color: #545454;
  text-align: left;
  padding-top: 67px;
  padding-left: 190px;
  padding-bottom: 60px;
}

@media (max-width: 1060px) {
  .footer {
    padding-left: 0px;
  }
}

@media (max-width: 425px) {
  .footer {
    padding-left: 65px;
    padding-bottom: 15px;
    padding-top: 80px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-left: 22px;
    padding-top: 230px;
  }
}
