.form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 195px;
  left: 465px;
}

.form-card {
  display: none;
}

.form__edit-div {
  width: 100%;
  height: 100%;
}

.form__edit-content-button-close {
  background-image: url(../images/closeicon.svg);
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  left: 500px;
  top: -45px;
  position: absolute;
  cursor: pointer;
}

.form__edit-title {
  display: flex;
  position: absolute;
  background-color: #fff;
  font-family: inherit;
  font-size: 24px;
  font-weight: 900;
  line-height: 22px;
  width: 330px;
  height: 23px;
  text-align: left;
  left: 50px;
  top: 50px;
}

.form__edit-pro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.form__input {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.form__input-type-name {
  max-width: 358px;
  width: 100%;
  height: 35px;
  margin: 20px 36px 0px;
  border: none;
  top: 120px;
  left: 35px;
}

.form__input-type-name::placeholder {
  text-align: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  border-bottom: 2px solid #000;
}
.form__input-type-author {
  max-width: 358px;
  width: 100%;
  height: 35px;
  margin: 20px 36px 0px;
  border: none;
  top: 180px;
  left: 35px;
}

.form__input-type-author::placeholder {
  text-align: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  border-bottom: 2px solid #000;
}

.form__submit-button {
  background-image: url("../images/Submit\ Button.svg");
  border: none;
  color: #fff;
  font-family: inherit;
  border-radius: 2px;
  max-width: 358px;
  width: 100%;
  max-height: 50.15px;
  height: 100%;
  top: 300px;
  left: 70px;
  display: flex;
  position: absolute;
}

.form__submit-button-inactive {
  background-image: url("../images/Submit\ Button\ disabled.jpg");
  border: none;
  color: #fff;
  font-family: inherit;
  border-radius: 2px;
  max-width: 358px;
  width: 100%;
  max-height: 50.15px;
  height: 100%;
  top: 300px;
  left: 70px;
  display: flex;
  position: absolute;
}

.form__input-type-error {
  opacity: 1;
  color: red;
  width: 358px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  height: auto;
  position: relative;
  top: 176px;
  left: 5px;
  visibility: hidden;
}

.form__input-type-error-author {
  opacity: 1;
  color: red;
  width: 358px;
  font-size: 10px;
  height: auto;
  position: relative;
  top: 235px;
  left: 5px;
  visibility: hidden;
}

@media (max-width: 1060px) {
  .form {
    left: 280px;
  }
}

@media (max-width: 768px) {
  .form {
    position: absolute;
    width: 500px;
    height: 400px;
    left: 140px;
    top: 230px;
  }

  .form__edit-div {
    width: 100%;
    height: 100%;
  }

  .form__edit-content-button-close {
    width: 26px;
    height: 26px;
    background-image: url("../images/closeicon.svg");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: -30px;
    margin-left: -20px;
    color: #fff;
  }
}

@media (max-width: 425px) {
  .form {
    width: 370px;
    height: 330px;
    left: 28px;
    top: 95px;
  }

  .form__input-type-name {
    left: 30px;
    margin: 0px;
    width: 300px;
  }

  .form__input-type-author {
    left: 30px;
    margin: 0px;
    width: 300px;
  }

  .form__submit-button {
    background-image: url("../images/Submit\ Button320px.svg");
    border: none;
    color: #fff;
    font-family: inherit;
    border-radius: 3px;
    margin: 0px;
    width: 250px;
    top: 250px;
    left: 60px;
    display: flex;
    position: absolute;
  }

  .form__submit-button-inactive {
    border: none;
    color: #fff;
    font-family: inherit;
    border-radius: 3px;
    margin: 0px;
    width: 250px;
    top: 250px;
    left: 60px;
    display: flex;
    position: absolute;
  }

  .form__edit-title {
    left: 30px;
    width: 250px;
    margin: 0px;
    top: 38px;
  }

  .form__edit-content-button-close {
    width: 26px;
    height: 26px;
    background-image: url("../images/closeicon.svg");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 12px;
    margin-left: -180px;
    color: #fff;
  }
}

@media (max-width: 320px) {
  .form {
    width: 290px;
    height: 330px;
    left: 25px;
    top: 95px;
  }

  .form__input-type-name {
    left: 20px;
    margin: 0px;
    width: 250px;
  }

  .form__input-type-author {
    left: 20px;
    margin: 0px;
    width: 250px;
  }

  .form__submit-button {
    background-image: url("../images/Submit\ Button320px.svg");
    border: none;
    color: #fff;
    font-family: inherit;
    border-radius: 3px;
    margin: 0px;
    width: 250px;
    top: 250px;
    left: 20px;
    display: flex;
    position: absolute;
  }

  .form__edit-title {
    left: 20px;
    width: 250px;
    margin: 0px;
    top: 40px;
  }

  .form__edit-content-button-close {
    width: 26px;
    height: 26px;
    background-image: url("../images/closeicon.svg");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 12px;
    margin-left: -250px;
    color: #fff;
  }
}
