.form {
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: space-between;
  padding: 20px;
}

.form__input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.form__input-invalid {
  border-bottom: 1px solid #f00;
}

.form__error {
  font-size: 12px;
  line-height: 14.52px;
  color: #f00;
  text-align: left;
  display: none;
}

.form__error-invalid {
  display: block;
}

.form__submit-button {
  background-image: url("../images/SubmitButton.svg");
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 92%;
  height: 50px;
  margin: 10px 15px -10px;
}

.form__submit-button:hover {
  opacity: 60%;
}

.form__submit-button-avatar {
  margin: 48px 16px;
}

.form__submit-button-inactive {
  background-image: url("../images/SubmitButtondisabled-cópia.jpg");
}

.form-card {
  display: none;
}

.form__edit-div {
  width: 100%;
  height: 100%;
}

.form__edit-content-button-close {
  background-image: url(../images/closeicon.svg);
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  left: 500px;
  top: -45px;
  position: absolute;
  cursor: pointer;
}

.form__edit-title {
  display: flex;
  position: absolute;
  background-color: #fff;
  font-family: inherit;
  font-size: 24px;
  font-weight: 900;
  line-height: 22px;
  width: 330px;
  height: 23px;
  text-align: left;
  left: 50px;
  top: 50px;
}

.form__edit-pro {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.form__input-type-error-author {
  opacity: 1;
  color: red;
  width: 358px;
  font-size: 10px;
  height: auto;
  position: relative;
  top: 235px;
  left: 5px;
  visibility: hidden;
}

.form__submit-button-confirmation {
  background-image: url(../images/form__submit-button-confirmation.svg);
  margin: 20px 30px;
  width: 358px;
}

.form__submit-button-confirmation:hover {
  opacity: 60%;
}

@media (max-width: 1024px) {
  .form {
    left: 280px;
  }
}

@media (max-width: 544px) {
  .form {
    width: 238px;
    height: 140px;
    left: 28px;
  }

  .form__input {
    width: 238px;
  }

  .form__submit-button {
    background-image: url("../images/SubmitButton320px.svg");
    font-family: inherit;
    border-radius: 5px;
    margin: 155px 8px;
    width: 80%;
    height: 50px;
    display: flex;
    position: absolute;
  }

  .form__submit-button-inactive {
    background-image: url("../images/SubmitButtondisabled.jpg");
    width: 226px;
    height: 32px;
  }

  .form__edit-title {
    left: 30px;
    width: 250px;
    margin: 0px;
    top: 38px;
  }

  .form__edit-content-button-close {
    margin-top: 12px;
    margin-left: -180px;
    color: #fff;
  }
}
